<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - Running Weather WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Running Weather WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Running Weather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3B550D31B3F3AD600C70DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B550E71B3F3AD700C70DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B550F21B3F3AD700C70DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B551151B3F3ADD00C70DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
